.navbar-header {
    padding: 0;
}
.navbar-header {
    background-image: none;
    background: #fff;
}
.nav.navbar-top-links > li > a , #shamsi-date{
    color: #31364c;
}
#full-icon-btn {
    color: #fff;
}
.sidebar {
    background-color: #fff;
}
#side-menu > li > a.active i {
    color: #da251d;
}
#side-menu > li > a.active {
    color: #a6acbc;
}
.breadcrumb {
    padding: 18px 15px 18px 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #277e78;
    border-radius: 0px;
}
.breadcrumb > li a {
    color: #fff;
    font-weight: 100;
    font-size: 12px;
    opacity: 0.8;
    transition: all 0.2s ;
}
.breadcrumb > li a:hover , .breadcrumb > li.active a {
    opacity:1;
}
.link-box-item {
    
    display: table;
    height: 150px;
}
.link-box-item a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    border-radius: 5px;
    transition: background-size 0.2s ease;
    -moz-transition: background-size 0.2s ease;
    -ms-transition: background-size 0.2s ease;
    -o-transition: background-size 0.2s ease;
    -webkit-transition: background-size 0.2s ease;
}
.link-box-item a:hover {
    background-size: 110%;
}
#page-wrapper .main-content{
    padding: 0 40px;
}
